noderedExported.txt
[{"id":"d8e8eb99c882adc4","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"4f1c1d93ee321a31","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"ba57810f.7cf48","type":"server","name":"Home Assistant","addon":true},{"id":"617ba62b0a7178ac","type":"schedex","z":"d8e8eb99c882adc4","name":"Horario liga luz rua","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"sunset","ontopic":"","onpayload":"","onoffset":"150","onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":130,"y":100,"wires":[["62f3d27f5a1bbc24"]]},{"id":"bc1e5fc331a73030","type":"api-call-service","z":"d8e8eb99c882adc4","name":"Toggle luz rua","server":"ba57810f.7cf48","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.luz_rua"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":140,"wires":[[]]},{"id":"62f3d27f5a1bbc24","type":"api-current-state","z":"d8e8eb99c882adc4","name":"Está ligada?","server":"ba57810f.7cf48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.luz_rua","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":100,"wires":[[],["bc1e5fc331a73030"]]},{"id":"8d47ed5d46f99c40","type":"schedex","z":"d8e8eb99c882adc4","name":"Horario desliga luz rua","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"02:30","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":140,"y":180,"wires":[["3deb5da565cd7015"]]},{"id":"3deb5da565cd7015","type":"api-current-state","z":"d8e8eb99c882adc4","name":"Está ligada?","server":"ba57810f.7cf48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.luz_rua","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":180,"wires":[["bc1e5fc331a73030"],[]]},{"id":"6d258e61303c8482","type":"schedex","z":"d8e8eb99c882adc4","name":"Horario desliga luz entrada","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"03:30","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":160,"y":280,"wires":[["d6f861de2d73a30a"]]},{"id":"d6f861de2d73a30a","type":"api-current-state","z":"d8e8eb99c882adc4","name":"Está ligada?","server":"ba57810f.7cf48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.luz_entrada","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":280,"wires":[["97452ebd00bf7a41"],[]]},{"id":"97452ebd00bf7a41","type":"api-call-service","z":"d8e8eb99c882adc4","name":"Toggle luz entrada","server":"ba57810f.7cf48","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.luz_entrada"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":280,"wires":[[]]},{"id":"8787d75384f1ce83","type":"server-state-changed","z":"d8e8eb99c882adc4","name":"Interruptor quarto botão 3","server":"ba57810f.7cf48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.interruptor_quarto_right","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":540,"wires":[["30ecd34763644751"],["96c766b08f8ffc2c"]]},{"id":"30ecd34763644751","type":"api-call-service","z":"d8e8eb99c882adc4","name":"Ligar ar condicionado","server":"ba57810f.7cf48","version":5,"debugenabled":false,"domain":"remote","service":"send_command","areaId":[],"deviceId":["cb6b3803db34488f56f93ea9fcb7a0b7"],"entityId":[],"data":"{\"device\":\"AR PHILCO\",\"command\":\"ligar\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":500,"wires":[[]]},{"id":"96c766b08f8ffc2c","type":"api-call-service","z":"d8e8eb99c882adc4","name":"Desligar ar condicionado","server":"ba57810f.7cf48","version":5,"debugenabled":false,"domain":"remote","service":"send_command","areaId":[],"deviceId":["cb6b3803db34488f56f93ea9fcb7a0b7"],"entityId":[],"data":"{\"device\":\"AR PHILCO\",\"command\":\"desligar\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":580,"wires":[[]]},{"id":"5803c8e0762c3212","type":"server-state-changed","z":"d8e8eb99c882adc4","name":"Interruptor cozinha botão 2","server":"ba57810f.7cf48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.interruptor_cozinha_l2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":820,"wires":[["c83178e7f26c3ef0"],["8f8040cd155d8a92"]]},{"id":"99e1849083fc111f","type":"api-call-service","z":"d8e8eb99c882adc4","name":"Toggle luz rua","server":"ba57810f.7cf48","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.luz_entrada"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":820,"wires":[[]]},{"id":"c83178e7f26c3ef0","type":"api-current-state","z":"d8e8eb99c882adc4","name":"Está ligada?","server":"ba57810f.7cf48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.luz_entrada","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":780,"wires":[[],["99e1849083fc111f"]]},{"id":"8f8040cd155d8a92","type":"api-current-state","z":"d8e8eb99c882adc4","name":"Está ligada?","server":"ba57810f.7cf48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.luz_entrada","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":860,"wires":[["99e1849083fc111f"],[]]},{"id":"97aa49ad86fb9856","type":"server-state-changed","z":"d8e8eb99c882adc4","name":"Interruptor entrada botão 1","server":"ba57810f.7cf48","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.interruptor_entrada_l1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":960,"wires":[["2f8a0b047ca0e04a"],["595c042c2a9933bb"]]},{"id":"4a74ed0104712543","type":"api-call-service","z":"d8e8eb99c882adc4","name":"Toggle interruptor cozinha 2","server":"ba57810f.7cf48","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.interruptor_cozinha_l2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":960,"wires":[[]]},{"id":"2f8a0b047ca0e04a","type":"api-current-state","z":"d8e8eb99c882adc4","name":"Está ligada?","server":"ba57810f.7cf48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.interruptor_entrada_l1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":920,"wires":[[],["4a74ed0104712543"]]},{"id":"595c042c2a9933bb","type":"api-current-state","z":"d8e8eb99c882adc4","name":"Está ligada?","server":"ba57810f.7cf48","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.interruptor_entrada_l1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":1000,"wires":[["4a74ed0104712543"],[]]}]